$mobile-width: 320px;
$large-mobile-width: 401px;
$tablet-width: 481px;
$mid-tablet-width: 768px;
$desktop-width: 993px;
$large-desktop-width: 1201px;

$header-bgc: #27262a;
$menu-bgc: #333333;
$primary-color: #fff;
$secondary-color: #8d81ac;