.here-is-what-you-get {
  background-color: #f4f4f4;
  padding: 98px 0 45px;
  .containerK {
    max-width: 1520px;
    padding-right: 0;
    padding-left: 90px;
    margin: 0 auto;
    .here-is {
      display: none;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 44px;
      text-align: center;
    }
    .box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 50px;
      &__left {
        .visual-list {
          display: flex;
          flex-direction: column;
          li {
            display: flex;
            justify-content: center;
            margin-bottom: 35px;
            .img-holder {
              margin: auto;
              img {
              }
            }
            .text-holder {
              margin-left: 23px;
              h3 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #323232;
              }
              p {
                margin-top: 16px;
                max-width: 406px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #848e97;
              }
            }
          }
        }
      }
      &__right {
        h1 {
          margin-left: 20px;
          margin-bottom: 19px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 50px;
          color: #8d81ac;
        }
      }
    }
  }
}
